;   macOS-Path: ~/.npmrc
;   Linux-Path: ~/.npmrc
;   Windows-Path: %USERPROFILE%\.npmrc
;   macOS-Path: /usr/local/etc/npmrc
;   Linux-Path: /usr/local/etc/npmrc
;   Windows-Path: %APPDATA%\npm\etc\npmrc
min-release-age=7
ignore-scripts=true
